<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YCnews.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>39CF38CB20EA5C70007CD5AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39CF38DF20EA5C72007CD5AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39CF38EA20EA5C72007CD5AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
